<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <title>Seguro</title>
    
        <script>
	    function tipoPessoaChanged(){
	        valorSelecionado = $('#tipoPessoa').val();
	        
	        //quando tiver visualizando o formulário o valor fica no campo text;
	        if(!valorSelecionado){
	            valorSelecionado = $('#tipoPessoa').text();
	        }
	        switch(valorSelecionado) {
	            case "FISICA":
	                $('#group-cpf').show();
	                $('#group-cnpj').hide();
	                break;
	
	            case "JURIDICA":
	                $('#group-cpf').hide();
	                $('#group-cnpj').show();
	                break;
	
	            default :
	                $('#group-cpf').hide();
	                $('#group-cnpj').hide();
	                break;
	        }
	    }
	    
	    function formatar(mascara, documento){
	    	   var i = documento.value.length;
	    	   var saida = mascara.substring(0,1);
	    	   var texto = mascara.substring(i)
	    	  
	    	   if (texto.substring(0,1) != saida){
	    	    documento.value += texto.substring(0,1);
	    	   }  
	    	  }
	    
	  //adiciona mascara de cnpj - NOVAS MASCARAS
	    function MascaraCNPJ(cnpj){
	            if(mascaraInteiro(cnpj)==false){
	                    event.returnValue = false;
	            }       
	            return formataCampo(cnpj, '00.000.000/0000-00', event);
	    }

	    //adiciona mascara de cep
	    function MascaraCep(cep){
	                    if(mascaraInteiro(cep)==false){
	                    event.returnValue = false;
	            }       
	            return formataCampo(cep, '00.000-000', event);
	    }

	    //adiciona mascara de data
	    function MascaraData(data){
	            if(mascaraInteiro(data)==false){
	                    event.returnValue = false;
	            }       
	            return formataCampo(data, '00/00/0000', event);
	    }

	    //adiciona mascara ao telefone
	    function MascaraTelefone(tel){  
	            if(mascaraInteiro(tel)==false){
	                    event.returnValue = false;
	            }       
	            return formataCampo(tel, '(00) 0000-0000', event);
	    }

	    //adiciona mascara ao CPF
	    function MascaraCPF(cpf){
	            if(mascaraInteiro(cpf)==false){
	                    event.returnValue = false;
	            }       
	            return formataCampo(cpf, '000.000.000-00', event);
	    }

	    //valida telefone
	    function ValidaTelefone(tel){
	            exp = /\(\d{2}\)\ \d{4}\-\d{4}/
	            if(!exp.test(tel.value))
	                    alert('Numero de Telefone Invalido!');
	    }

	    //valida CEP
	    function ValidaCep(cep){
	            exp = /\d{2}\.\d{3}\-\d{3}/
	            if(!exp.test(cep.value))
	                    alert('Numero de Cep Invalido!');               
	    }

	    //valida data
	    function ValidaData(data){
	            exp = /\d{2}\/\d{2}\/\d{4}/
	            if(!exp.test(data.value))
	                    alert('Data Invalida!');                        
	    }

	    //valida o CPF digitado
	    function ValidarCPF(Objcpf){
	            var cpf = Objcpf.value;
	            exp = /\.|\-/g
	            cpf = cpf.toString().replace( exp, "" ); 
	            var digitoDigitado = eval(cpf.charAt(9)+cpf.charAt(10));
	            var soma1=0, soma2=0;
	            var vlr =11;

	            for(i=0;i<9;i++){
	                    soma1+=eval(cpf.charAt(i)*(vlr-1));
	                    soma2+=eval(cpf.charAt(i)*vlr);
	                    vlr--;
	            }       
	            soma1 = (((soma1*10)%11)==10 ? 0:((soma1*10)%11));
	            soma2=(((soma2+(2*soma1))*10)%11);

	            var digitoGerado=(soma1*10)+soma2;
	            if(digitoGerado!=digitoDigitado)        
	                    alert('CPF Invalido!');         
	    }

	    //valida numero inteiro com mascara
	    function mascaraInteiro(){
	            if (event.keyCode < 48 || event.keyCode > 57){
	                    event.returnValue = false;
	                    return false;
	            }
	            return true;
	    }

	    //valida o CNPJ digitado
	    function ValidarCNPJ(ObjCnpj){
	            var cnpj = ObjCnpj.value;
	            var valida = new Array(6,5,4,3,2,9,8,7,6,5,4,3,2);
	            var dig1= new Number;
	            var dig2= new Number;

	            exp = /\.|\-|\//g
	            cnpj = cnpj.toString().replace( exp, "" ); 
	            var digito = new Number(eval(cnpj.charAt(12)+cnpj.charAt(13)));

	            for(i = 0; i<valida.length; i++){
	                    dig1 += (i>0? (cnpj.charAt(i-1)*valida[i]):0);  
	                    dig2 += cnpj.charAt(i)*valida[i];       
	            }
	            dig1 = (((dig1%11)<2)? 0:(11-(dig1%11)));
	            dig2 = (((dig2%11)<2)? 0:(11-(dig2%11)));

	            if(((dig1*10)+dig2) != digito)  
	                    alert('CNPJ Invalido!');

	    }

	    //formata de forma generica os campos
	    function formataCampo(campo, Mascara, evento) { 
	            var boleanoMascara; 

	            var Digitato = evento.keyCode;
	            exp = /\-|\.|\/|\(|\)| /g
	            campoSoNumeros = campo.value.toString().replace( exp, "" ); 

	            var posicaoCampo = 0;    
	            var NovoValorCampo="";
	            var TamanhoMascara = campoSoNumeros.length;; 

	            if (Digitato != 8) { // backspace 
	                    for(i=0; i<= TamanhoMascara; i++) { 
	                            boleanoMascara  = ((Mascara.charAt(i) == "-") || (Mascara.charAt(i) == ".")
	                                                                    || (Mascara.charAt(i) == "/")) 
	                            boleanoMascara  = boleanoMascara || ((Mascara.charAt(i) == "(") 
	                                                                    || (Mascara.charAt(i) == ")") || (Mascara.charAt(i) == " ")) 
	                            if (boleanoMascara) { 
	                                    NovoValorCampo += Mascara.charAt(i); 
	                                      TamanhoMascara++;
	                            }else { 
	                                    NovoValorCampo += campoSoNumeros.charAt(posicaoCampo); 
	                                    posicaoCampo++; 
	                              }              
	                      }      
	                    campo.value = NovoValorCampo;
	                      return true; 
	            }else { 
	                    return true; 
	            }
	    }
	    
	    
    </script>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Dados do Seguro</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dados do Seguro</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">&nbsp;</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                
<!--                 <form th:object="${cpfcnpj}" method="post" th:action="@{/search}"> -->
<!--         			<div class="box-body"> -->
<!--                             <div class="input-group input-group-sm" style="width: 250px;"> -->
<!--                                 <input type="text" name="cpfcnpj" class="form-control pull-right" -->
<!--                                        placeholder="Pesquisa por CPF/CPJ" th:if="${key} == null"/> -->
<!--                                 <div class="input-group-btn"> -->
<!--                                     <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button> -->
<!--                                 </div> -->
<!--                             </div>    	 -->
<!--         			</div> -->
<!--         			<label for="tipoPessoa">Tipo Pessoa</label> -->
<!--                             <select style="width: 100px;" id="tipoPessoa" name="tipoPessoa" required > -->
<!-- 							  <option></option> -->
<!-- 							  <option value="FISICA">FÍSICA</option> -->
<!-- 							  <option value="JURIDICA">JURÍDICA</option> -->
<!-- 							</select>  -->
<!-- 		    </form> -->
                
                <form role="form" th:object="${seguro}" method="post">
                              
                    <div class="box-body">
<!--                             <div class="input-group input-group-sm" style="width: 250px;"> -->
<!--                                 <input type="text" name="value" class="form-control pull-right" -->
<!--                                        placeholder="Pesquisa por CPF/CPJ" th:if="${key} == null"/> -->
<!--                                 <div class="input-group-btn"> -->
<!--                                     <button  class="btn btn-default"><i class="fa fa-search"></i></button> -->
<!--                                 </div> -->
<!--                             </div> -->
                    
                    <div class="form-group">
                            <label for="tipoPessoa">Tipo Pessoa</label>
                            <select style="width: 100px;" id="tipoPessoa" name="tipoPessoa" onchange="tipoPessoaChanged();" required >
							  <option></option>
							  <option value="FISICA">FÍSICA</option>
							  <option value="JURIDICA">JURÍDICA</option>
							</select>
                            <label class="control-label error-label"  th:if="${#fields.hasErrors('tipoPessoa')}"th:errors="*{tipoPessoa}">
                                Mensagem de erro mais tarde aqui
                            </label>
                    </div>
                    
                    <div class="form-group" id="group-cpf" hidden="true">
                            <label for="cpf">CPF</label>
                            <input type="text" 
                                   th:field="*{cpf}"
                                   name="cpf" class="form-control" id="cpf" placeholder="CPF" onkeypress="formatar('###.###.###-##', this);" maxlength="14" />
                            <p th:if="${#fields.hasErrors('cpf')}" th:errors="cpf">Incorrect cpf</p>

                        </div>
                        
                        <div class="form-group" id="group-cnpj" hidden="true">
                            <label for="cnpj">CNPJ</label>
                            <input type="text" 
                                   th:field="*{cnpj}"
                                   name="cnpj" class="form-control" id="cnpj" placeholder="CNPJ" onkeypress="formatar('##.###.###/####-##', this);" maxlength="18" />
                            <label class="control-label error-label" th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                    
                    
<!--                     	<div class="form-group"> -->
<!--                             <label for="cpfCnpj">CPF/CNPJ</label> -->
<!--                             <input type="text" -->
<!--                                    th:field="*{cpfCnpj}" -->
<!--                                    name="cpfCnpj" class="form-control" id="cpfCnpj" placeholder="CPF/CNPJ" required/> -->
                                    
<!--                             <label class="control-label error-label" th:if="${#fields.hasErrors('cpfCnpj')}" th:errors="*{cpfCnpj}"> -->
<!--                                 Mensagem de erro mais tarde aqui -->
<!--                             </label> -->
<!--                         </div> -->
                    
<!--                         <div class="form-group"> -->
<!--                             <label for="cliente.nome">Nome</label> -->
<!--                             <input type="text" -->
<!--                                    th:field="*{cliente.nome}" -->
<!--                                    name="cliente.nome" class="form-control" id="cliente.nome" placeholder="Nome Cliente" disabled/> -->
                                    
<!--                             <label class="control-label error-label" th:if="${#fields.hasErrors('cliente.nome')}" th:errors="*{cliente.nome}"> -->
<!--                                 Mensagem de erro mais tarde aqui -->
<!--                             </label> -->
<!--                         </div> -->
                        
                        <div class="form-group">
                            <label for="nome">Item Segurado</label>
                            <input type="text"
                                   th:field="*{nome}"
                                   name="nome" class="form-control" id="nome" placeholder="Item Segurado" />
                            <label class="control-label error-label" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label for="tipoSeguro">Tipo Seguro</label>
<!--                             <select style="width: 130px;" id="tipoSeguro" name="tipoSeguro"> -->
<!-- 						        <option></option> -->
<!-- 						        <option th:each="tp : ${tiposDeSeguro}" -->
<!-- 						                th:value="${tp}" -->
<!-- 						                th:text="${tp.nome}" -->
<!-- 						                th:selected="${tp.equals(tipoSeguro)}"/> -->
<!-- 						    </select> -->
<!-- 							<label class="control-label error-label"  th:if="${#fields.hasErrors('tipoSeguro')}"th:errors="*{tipoSeguro}"> -->
<!--                                 Mensagem de erro mais tarde aqui -->
<!--                             </label>                            -->
                            
                            <select style="width: 100px;" id="tipoSeguro" name="tipoSeguro">
							  <option></option>
							  <option value="AUTOMÓVEL">AUTOMÓVEL</option>
							  <option value="EMPRESARIAL">EMPRESARIAL</option>
							  <option value="SAÚDE">SAÚDE</option>
							</select>
                            <label class="control-label error-label"  th:if="${#fields.hasErrors('tipoSeguro')}"th:errors="*{tipoSeguro}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        
                        <label style="padding-left: 40px;" for="status">Status</label >
	                            <select style="width: 130px;" id="status" name="status" >
								  <option></option>
								  <option value="PROPOSTA">PROPOSTA</option>
								  <option value="EMITIDO">EMITIDO</option>
								  <option value="CANCELADO">CANCELADO</option>
								  <option value="RECUSADO">RECUSADO</option>
								</select>
	                            <label class="control-label error-label"  th:if="${#fields.hasErrors('status')}"th:errors="*{status}">
	                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                            
                        <div class="form-group">
                            <label for="valorSeguro">Valor do Seguro</label>
                            <input type="text"
                                   th:field="*{valorSeguro}"
                                   name="valorSeguro" class="form-control" id="valorSeguro" placeholder="Valor Seguro" />
                            <label class="control-label error-label" th:if="${#fields.hasErrors('valorSeguro')}" th:errors="*{valorSeguro}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label for="valorSegurado">Importância Segurada</label>
                            <input type="text"
                                   th:field="*{valorSegurado}"
                                   name="valorSegurado" class="form-control" id="valorSegurado" placeholder="Importância Segurada" />
                            <label class="control-label error-label" th:if="${#fields.hasErrors('valorSegurado')}" th:errors="*{valorSegurado}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label for="percentualComissao">Percentual Comissão</label>
                            <input type="text"
                                   th:field="*{percentualComissao}"
                                   name="percentualComissao" class="form-control" id="percentualComissao" placeholder="Percentual Comissão" onkeypress="formatar('##', this);" maxlength="2"/>
                            <label class="control-label error-label" th:if="${#fields.hasErrors('percentualComissao')}" th:errors="*{percentualComissao}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label for="dataProposta">Data Proposta</label>
                            <input type="text"
                                   th:field="*{dataProposta}"
                                   name="dataProposta" class="form-control" id="dataProposta" placeholder="Data Proposta" onKeyPress="MascaraData(dataProposta);" maxlength="10" onBlur="ValidaData(dataProposta);"/>
                            <label class="control-label error-label" th:if="${#fields.hasErrors('dataProposta')}" th:errors="*{dataProposta}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label for="dataInicioVigencia">Data Início Vigência</label>
                            <input type="text"
                                   th:field="*{dataInicioVigencia}"
                                   name="dataInicioVigencia" class="form-control" id="dataInicioVigencia" placeholder="Data Início Vigência" onkeypress="formatar('##/##/####', this);" maxlength="10"/>
                            <label class="control-label error-label" th:if="${#fields.hasErrors('dataInicioVigencia')}" th:errors="*{dataInicioVigencia}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label for="dataFimVigencia">Data Fim Vigência</label>
                            <input type="text"
                                   th:field="*{dataFimVigencia}"
                                   name="dataFimVigencia" class="form-control" id="dataFimVigencia" placeholder="Data Fim Vigência" onkeypress="formatar('##/##/####', this);" maxlength="10"/>
                            <label class="control-label error-label" th:if="${#fields.hasErrors('dataFimVigencia')}" th:errors="*{dataFimVigencia}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        
                        <div class="form-group">
							<label class="control-label" for="proposta">Upload Proposta:</label>
							<input type="file" class="form-control" id="proposta" placeholder="Upload Proposta"  name="proposta"></input>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="apolice">Upload Apólice:</label>
							<input type="file" class="form-control" id="apolice" placeholder="Upload Apolice"  name="apolice"></input>
						</div>
                        
                        <div class="form-group">
                            <a th:href="@{/seguro/list}" class="btn btn-default" role="button" title="Lista de Volta">
                                <span aria-hidden="true"></span>Cancelar
                            </a>
                            <button type="submit" class="box-title btn btn-primary" title="Salvar Dados">Salvar</button>
                        </div>
                    </div>
                    <!-- /.box-body -->

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

