<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <title>Seguro</title>
    
        <script>
	    function formatar(mascara, documento){
	    	   var i = documento.value.length;
	    	   var saida = mascara.substring(0,1);
	    	   var texto = mascara.substring(i)
	    	  
	    	   if (texto.substring(0,1) != saida){
	    	    documento.value += texto.substring(0,1);
	    	   }  
	    	  }
    </script>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Dados do Seguro</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dados do Seguro</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">&nbsp;</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                
                <form role="form" th:object="${seguro}" method="post">
                              
                    <div class="box-body">
<!--                             <div class="input-group input-group-sm" style="width: 250px;"> -->
<!--                                 <input type="text" name="value" class="form-control pull-right" -->
<!--                                        placeholder="Pesquisa por CPF/CPJ" th:if="${key} == null"/> -->
<!--                                 <div class="input-group-btn"> -->
<!--                                     <button onclick="buscaCliente(value)" class="btn btn-default"><i class="fa fa-search"></i></button> -->
<!--                                 </div> -->
<!--                             </div> -->
                    
                    
                        <div class="form-group">
                            <label for="cliente.nome">Nome</label>
                            <input type="text"
                                   th:field="*{cliente.nome}"
                                   name="cliente.nome" class="form-control" id="cliente.nome" placeholder="Nome Cliente" disabled/>
                            <label class="control-label error-label" th:if="${#fields.hasErrors('cliente.nome')}" th:errors="*{cliente.nome}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label for="nome">Item Segurado</label>
                            <input type="text"
                                   th:field="*{nome}"
                                   name="nome" class="form-control" id="nome" placeholder="Item Segurado" />
                            <label class="control-label error-label" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label for="tipoSeguro">Tipo Seguro</label>
                            <select style="width: 100px;" id="tipoSeguro" name="tipoSeguro">
							  <option></option>
							  <option value="AUTOMOVEL">AUTOMÓVEL</option>
							  <option value="EMPRESARIAL">EMPRESARIAL</option>
							  <option value="SAUDE">SAÚDE</option>
							</select>
                            <label class="control-label error-label"  th:if="${#fields.hasErrors('tipoSeguro')}"th:errors="*{tipoSeguro}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        
                        <label style="padding-left: 40px;" for="status">Status</label >
	                            <select style="width: 130px;" id="status" name="status" >
								  <option></option>
								  <option value="PROPOSTA">PROPOSTA</option>
								  <option value="EMITIDO">EMITIDO</option>
								  <option value="CANCELADO">CANCELADO</option>
								  <option value="RECUSADO">RECUSADO</option>
								</select>
	                            <label class="control-label error-label"  th:if="${#fields.hasErrors('status')}"th:errors="*{status}">
	                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                            
                        <div class="form-group">
                            <label for="valorSeguro">Valor do Seguro</label>
                            <input type="text"
                                   th:field="*{valorSeguro}"
                                   name="valorSeguro" class="form-control" id="valorSeguro" placeholder="Valor Seguro" />
                            <label class="control-label error-label" th:if="${#fields.hasErrors('valorSeguro')}" th:errors="*{valorSeguro}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label for="valorSegurado">Importância Segurada</label>
                            <input type="text"
                                   th:field="*{valorSegurado}"
                                   name="valorSegurado" class="form-control" id="valorSegurado" placeholder="Importância Segurada" />
                            <label class="control-label error-label" th:if="${#fields.hasErrors('valorSegurado')}" th:errors="*{valorSegurado}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label for="percentualComissao">Percentual Comissão</label>
                            <input type="text"
                                   th:field="*{percentualComissao}"
                                   name="percentualComissao" class="form-control" id="percentualComissao" placeholder="Percentual Comissão" onkeypress="formatar('##', this);" maxlength="2"/>
                            <label class="control-label error-label" th:if="${#fields.hasErrors('percentualComissao')}" th:errors="*{percentualComissao}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label for="dataProposta">Data Proposta</label>
                            <input type="text"
                                   th:field="*{dataProposta}"
                                   name="dataProposta" class="form-control" id="dataProposta" placeholder="Data Proposta" onkeypress="formatar('##/##/####', this);" maxlength="10"/>
                            <label class="control-label error-label" th:if="${#fields.hasErrors('dataProposta')}" th:errors="*{dataProposta}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label for="dataInicioVigencia">Data Início Vigência</label>
                            <input type="text"
                                   th:field="*{dataInicioVigencia}"
                                   name="dataInicioVigencia" class="form-control" id="dataInicioVigencia" placeholder="Data Início Vigência" onkeypress="formatar('##/##/####', this);" maxlength="10"/>
                            <label class="control-label error-label" th:if="${#fields.hasErrors('dataInicioVigencia')}" th:errors="*{dataInicioVigencia}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label for="dataFimVigencia">Data Fim Vigência</label>
                            <input type="text"
                                   th:field="*{dataFimVigencia}"
                                   name="dataFimVigencia" class="form-control" id="dataFimVigencia" placeholder="Data Fim Vigência" onkeypress="formatar('##/##/####', this);" maxlength="10"/>
                            <label class="control-label error-label" th:if="${#fields.hasErrors('dataFimVigencia')}" th:errors="*{dataFimVigencia}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <a th:href="@{/seguro/list}" class="btn btn-default" role="button" title="Lista de Volta">
                                <span aria-hidden="true"></span>Cancelar
                            </a>
                            <button type="submit" class="box-title btn btn-primary" title="Salvar Dados">Salvar</button>
                        </div>
                    </div>
                    <!-- /.box-body -->

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

