<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <title>Editar Dados</title>
    <script>
    
    $(window).load(    
	    function tipoPessoa(){
	        valorSelecionado = $('#tipoPessoa').val();
	       
	        switch(valorSelecionado) {
	            case "FISICA":
	                $('#group-cpf').show();
	                $('#group-cnpj').hide();
	                $('#group-razao-social').hide();
	                break;
	
	            case "JURIDICA":
	                $('#group-cpf').hide();
	                $('#group-cnpj').show();
	                $('#group-razao-social').show();
	                break;
	
	            default :
	                $('#group-cpf').hide();
	                $('#group-cnpj').hide();
	                $('#group-razao-social').hide();
	                break;
	        }
	    });
    </script>
    
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Dados da Ligação</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dados da Ligação</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">&nbsp;</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" th:object="${ligacao}" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text"
                                   th:field="*{nome}"
                                   name="nome" class="form-control" id="nome" placeholder="Nome" />
                            <label class="control-label error-label" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="status">Status</label>
                            <input type="text"
                                   th:field="*{status}"
                                   name="status" class="form-control" id="status" placeholder="Status" disabled/>
                            <label class="control-label error-label" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        
                        <div class="form-group" id="group-telefone">
                            <label for="telefone">Telefone</label>
                            <input type="text"
                                   th:field="*{telefone}" required="true"
                                   name="telefone" class="form-control" id="telefone" placeholder="Telefone Principal" onkeypress="formatar('## ####-####', this);" maxlength="12" />
                            <label class="control-label error-label" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>

                        <div class="form-group" id="group-data-contato">
                            <label for="dataContato">Data do Contato</label>
                            <input type="text"
                                   th:field="*{dataContato}"
                                   name="dataContato" class="form-control" id="dataContato" placeholder="Data do Contato" onkeypress="formatar('##/##/####', this);" maxlength="10" />
                            <label class="control-label error-label" th:if="${#fields.hasErrors('dataContato')}" th:errors="*{dataContato}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>

                        <div class="form-group" id="group-data-retorno">
                            <label for="dataRetorno">Data do Retorno</label>
                            <input type="text"
                                   th:field="*{dataRetorno}"
                                   name="dataRetorno" class="form-control" id="dataRetorno" placeholder="Data do Retorno" onkeypress="formatar('##/##/####', this);" maxlength="10" />
                            <label class="control-label error-label" th:if="${#fields.hasErrors('dataRetorno')}" th:errors="*{dataRetorno}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>

                        <div class="form-group">
                            <a th:href="@{/ligacao/list}" class="btn btn-default" role="button" title="Lista de Volta">
                                <span aria-hidden="true"></span>Cancelar
                            </a>
                            <button type="submit" class="box-title btn btn-primary" title="Salvar Dados">Salvar</button>
                        </div>
                    </div>
                    <!-- /.box-body -->

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>