<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <title>Dados do Endereço</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Endereço</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dados do Endereço</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">&nbsp;</h3>
                </div>
                <form role="form" th:object="${endereco}" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="kode">Categoria da Atividade</label>
                            <select
                                    class="selectpicker form-control"
                                    data-live-search="true"
                                    data-size="10"
                                    title="Please Select ..."
                                    th:field="*{empregado}">
                                <option th:each="p : ${empregado}"
                                        th:value="${p.id}"
                                        th:text="${p.nome}">Escolha do Empregado
                                </option>
                            </select>
                            <label class="control-label error-label" th:errors="*{empregado}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="nama">Componente nome</label>
                            <input type="text" class="form-control" th:field="*{nome}" id="nama" name="nome"
                                   placeholder="componente de atividade"/>
                            <label class="control-label error-label" th:errors="*{nome}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="alamat">Endereço descrição</label>
                            <input type="text" class="form-control" th:field="*{endereco}" id="endereco" name="endereco"
                                   placeholder="Prova de Atividade"/>
                            <label class="control-label error-label" th:errors="*{endereco}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        <div class="form-group">
                            <a th:href="@{/endereco/list}" class="btn btn-default" role="button" title="Back list">
                                <span aria-hidden="true"></span>Cancelar
                            </a>
                            <button type="submit" class="box-title btn btn-primary" title="Save Data">Salvar</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>