<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="icon" href="#" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
       
</head>
<body>
<div layout:fragment="content" style="margin-top: -40px;">

    <h2>Opus Solutions Manager</h2>
     <section class="content">
      
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3 th:text="${session.qtdSeguros}"></h3>

              <p>Total de Seguros</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-green">
            <div class="inner">
              <h3 th:text="${session.qtdSegurosThisMonth}"></h3>

              <p>Seguros fechados do Mês</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3 th:text="${session.qtdRenovacoesThisMonth}"></h3>

              <p>Renovações do Mês</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-red">
            <div class="inner">
              <h3 th:text="${session.qtdLost}"></h3>
              <p>Seguros Perdidos do Mês</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      
      <div class="row">
		  <div class="col-sm-3">
			  <div class="box-header">
	              <h3 class="box-title" style="margin-left: 100px;">Vendas</h3>
		            </div>
	            <div class="box-body border-radius-none">
	            <canvas id="myChart" width="800" height="450" style="opacity: 0.6"></canvas>
            </div>
		  </div>
		  <div class="col-sm-3">
			  <div class="box-header">
	              <h3 class="box-title" style="margin-left: 100px;">Orçamentos</h3>
		            </div>
	            <div class="box-body border-radius-none">
	            	<canvas id="myChart2" width="800" height="450" style="opacity: 0.6"></canvas>
	            </div>
		  </div>
		  
		  <div class="col-sm-3">
			  <div class="box-header">
					<h3 class="box-title" style="margin-left: 100px;">Ligações</h3>
	            </div>
	            <div class="box-body border-radius-none">
	            	<canvas id="myChart3" width="800" height="450" style="opacity: 0.6"></canvas>
	            </div>
		  </div>
		  
		  <div class="col-sm-3">
			  <div class="box-header">
	              <h3 class="box-title" style="margin-left: 50px;">Taxa de conversão</h3>
	            </div>
	            <div class="box-body border-radius-none">
	            	<canvas id="myChart4" width="800" height="450" style="opacity: 0.6"></canvas>
	            </div>
		  </div>
	</div>
      
      <div class="row">
		  <div class="col-sm-6">
			  <div class="box-header">
	              <i class="fa fa-th"></i>
	
	              <h3 class="box-title">Gráfico de Seguros</h3>
		            </div>
	            <div class="box-body border-radius-none">
	            <canvas id="lineChart" width="800" height="450"></canvas>
            </div>
		  </div>
		  <div class="col-sm-6">
			  <div class="box-header">
	              <i class="fa fa-th"></i>
	
	              <h3 class="box-title">Seguros por Seguradora</h3>
		            </div>
	            <div class="box-body border-radius-none">
	            	<canvas id="barchartgrouped" width="800" height="505"></canvas>
	            </div>
		  </div>
	</div>
    </section>
</div>
</body>
</html>

<script>



//Bar chart
// new Chart(document.getElementById("barchartgrouped"), {
//     type: 'bar',
//     data: {
//       labels: ["Automotivo"],
//       datasets: [
//         {
//           label: "Porto Seguro",
//           backgroundColor: "#3e95cd",
//           data: [5]
//         }, {
//           label: "Azul Seguros",
//           backgroundColor: "#66ffff",
//           data: [5]
//         }, {
//           label: "Itáu",
//           backgroundColor: "#ffff00",
//           data: [2]
//         }, {
//           label: "Tokio Marine",
//           backgroundColor: "#33cc33",
//           data: [4]
//         }, {
//           label: "Allianz",
//           backgroundColor: "#3333ff",
//           data: [1]
//         }, {
//           label: "Liberty Seguros",
//           backgroundColor: "#99ccff",
//           data: [2]
//         }, {
//           label: "Suhai",
//           backgroundColor: "#66ff99",
//           data: [1]
//         }, {
//           label: "HDI",
//           backgroundColor: "#ffcc66",
//           data: [1]
//         }, {
//           label: "BRADESCO",
//           backgroundColor: "#ff3300",
//           data: [2]
//         }, {
//           label: "MAPFRE",
//           backgroundColor: "#cc9900",
//           data: [3]
//         }
        
//       ]
//     },
//     options: {
//       title: {
//         display: true,
//         text: 'Crescimento Mensal'
//       }
//     }
// });


// var jsonfile = {
// 		   "jsonarraychartline": [{
// 			      "mes": "Janeiro",
// 			      "totalMes": 12
// 			   }, {
// 			      "mes": "Fevereiro",
// 			      "totalMes": 0
// 			   }, {
// 			      "mes": "Março",
// 			      "totalMes": 0
// 			   }, {
// 			      "mes": "Abril",
// 			      "totalMes": 0
// 			   }, {
// 			      "mes": "Maio",
// 			      "totalMes": 0
// 			   }, {
// 			      "mes": "Junho",
// 			      "totalMes": 0
// 			   }, {
// 			      "mes": "Julho",
// 			      "totalMes": 0
// 			   }, {
// 			      "mes": "Agosto",
// 			      "totalMes": 0
// 			   }, {
// 			      "mes": "Setembro",
// 			      "totalMes": 0
// 			   }, {
// 			      "mes": "Outubro",
// 			      "totalMes": 0
// 			   }, {
// 			      "mes": "Novembro",
// 			      "totalMes": 0
// 			   }, {
// 			      "mes": "Dezembro",
// 			      "totalMes": 0
// 			   }]
// 		};
		
// new Chart(document.getElementById("line-chart"), {
// 	  type: 'line',
// 	  data: {
// 	    labels: ["Janeiro","Fevereiro","Março","Abril","Maio","Junho","Julho","Agosto","Setembro","Outubro","Novembro", "Dezembro"],
// 	    datasets: [{ 
// 	        data: [1,5,10,16,27,10,50,35,22,77,100,90],
// 	        label: "Seguros",
// 	        borderColor: "red",
// 	        fill: false
// 	      }
// 	    ]
// 	  },
// 	  options: {
// 	    title: {
// 	      display: true,
// 	      text: 'Crescimento Mensal de Seguros Opus'
// 	    }
// 	  }
// 	});		
		

var evolutionJson = $.getJSON("json/evolution.json", function(dataJson) {
    
var dataEvolution = JSON.parse(evolutionJson.responseText);
  	
    var labels = [];
    var data = [];

    for(var i = 0; i < dataEvolution.length; i++){
    	labels.push(dataEvolution[i].mes)
    }
    
    for(var i = 0; i < dataEvolution.length; i++){
    	data.push(dataEvolution[i].totalmes)
    }

		var ctx = lineChart.getContext('2d');
		var config = {
		   type: 'line',
		   data: {
		      labels: labels,
		      datasets: [{
		         label: 'Crescimento Mensal de Seguros Opus 2019',
		         data: data,
		         backgroundColor: 'rgba(0, 119, 204, 0.3)'
		      }]
		   }
		};

		var chart = new Chart(ctx, config);
    
    
//     console.log(dataTeste)
//       console.log(mydata); 
  });

var seguroPorSeguradoraJson = $.getJSON("json/seguroPorSeguradora.json", function(dataJson) {
    
	var dataSeguroPorSeguradora = JSON.parse(seguroPorSeguradoraJson.responseText);
	  	
	    var labels = [];
	    var data = [];
	    var background = [];

	    for(var i = 0; i < dataSeguroPorSeguradora.length; i++){
	    	labels.push(dataSeguroPorSeguradora[i].name)
	    }
	    
	    for(var i = 0; i < dataSeguroPorSeguradora.length; i++){
	    	data.push(dataSeguroPorSeguradora[i].value)
	    }
	    
	    for(var i = 0; i < dataSeguroPorSeguradora.length; i++){
	    	background.push(dataSeguroPorSeguradora[i].background)
	    }

			var ctx = barchartgrouped.getContext('2d');
			var config = {
			   type: 'bar',
			   data: {
			      labels: labels,
			      datasets: [{
			         label: 'Total de Seguros por Seguradora',
			         data: data,
			         backgroundColor: background
			      }],
			      options: {
				        title: {
				          display: true,
				          text: 'Total de Seguros por Seguradora'
				        }
				      }
			   }
			};

			var chart = new Chart(ctx, config);
	    
	    
//	     console.log(dataTeste)
//	       console.log(mydata); 
	  });

//Indicadores	
	
Chart.pluginService.register({
		beforeDraw: function (chart) {
			if (chart.config.options.elements.center) {
        //Get ctx from string
        var ctx = chart.chart.ctx;
        
				//Get options from the center object in options
        var centerConfig = chart.config.options.elements.center;
      	var fontStyle = centerConfig.fontStyle || 'Arial';
				var txt = centerConfig.text;
        var color = centerConfig.color || '#000';
        var sidePadding = centerConfig.sidePadding || 20;
        var sidePaddingCalculated = (sidePadding/100) * (chart.innerRadius * 2)
        //Start with a base font of 30px
        ctx.font = "30px " + fontStyle;
        
				//Get the width of the string and also the width of the element minus 10 to give it 5px side padding
        var stringWidth = ctx.measureText(txt).width;
        var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

        // Find out how much the font can grow in width.
        var widthRatio = elementWidth / stringWidth;
        var newFontSize = Math.floor(30 * widthRatio);
        var elementHeight = (chart.innerRadius * 2);

        // Pick a new font size so it will not be larger than the height of label.
        var fontSizeToUse = Math.min(newFontSize, elementHeight);

				//Set font settings to draw it correctly.
        ctx.textAlign = 'center';
        ctx.textBaseline = 'middle';
        var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
        var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
        ctx.font = fontSizeToUse+"px " + fontStyle;
        ctx.fillStyle = color;
        
        //Draw text in center
        ctx.fillText(txt, centerX, centerY);
			}
		}
	});

var progressVendas = 100;

var collor ;
if(progressVendas = 100){
	collor = [
		  "#0fba00",
		  "#ffffff",
		]
}

if(progressVendas > 75 && progressVendas < 99){
	collor = [
		  "#ffe900",
		  "#ffffff",
		]
}

if(progressVendas < 75 && progressVendas > 50){
	collor = [
		  "#ffc4c4",
		  "#ffffff",
		]
}

if(progressVendas < 50){
	collor = [
		  "#ff0000",
		  "#ffffff",
		]
}
		var config = {
			type: 'doughnut',
			data: {
				labels: [
				  "Atingido",
				  "Não Atingido",
				],
				datasets: [{
					data: [progressVendas, 100 - progressVendas],
					backgroundColor: collor,
					hoverBackgroundColor: collor
				}]
			},
		options: {
			elements: {
				center: {
					text: progressVendas + '%',
          color: '#050505', // Default is #000000
          fontStyle: 'Arial', // Default is Arial
          sidePadding: 20 // Defualt is 20 (as a percentage)
				}
			}
		}
	};


		var ctx = document.getElementById("myChart").getContext("2d");
		var myChart = new Chart(ctx, config);
		
		var ctx = document.getElementById("myChart2").getContext("2d");
		var myChart2 = new Chart(ctx, config);
		
		var ctx = document.getElementById("myChart3").getContext("2d");
		var myChart3 = new Chart(ctx, config);
		
		var ctx = document.getElementById("myChart4").getContext("2d");
		var myChart4 = new Chart(ctx, config);
</script>
