<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <title>Excluir Dados</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Excluir dados do Tipo do Seguro?</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Excluir dados do tipo do Seguro</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">&nbsp;</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" th:object="${tipoSeguro}" method="post">

                    <div class="box-body">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text"
                                   th:field="*{nome}"
                                   name="nome" class="form-control" id="nome" placeholder="Tipo de Seguro" disabled/>
                            <label class="control-label error-label" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label for="categoria">Categoria</label>
                            <input type="text"
                                   th:field="*{categoria}"
                                   name="categoria" class="form-control" id="categoria" placeholder="Categoria" disabled/>
                            <label class="control-label error-label" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>
                                            
                        <div class="form-group">
                            <label for="ramo">Ramo</label>
                            <input type="text"
                                   th:field="*{ramo}"
                                   name="ramo" class="form-control" id="ramo" placeholder="Ramo" disabled/>
                            <label class="control-label error-label" th:if="${#fields.hasErrors('ramo')}" th:errors="*{ramo}">
                                Mensagem de erro mais tarde aqui
                            </label>
                        </div>

                        <div class="form-group">
                            <a th:href="@{/tipoSeguro/list}" class="btn btn-default" role="button" title="Back list">
                                <span aria-hidden="true"></span>Cancelar
                            </a>
                            <button type="submit" class="btn btn-danger" title="Deletar Dados">Excluir</button>
                        </div>
                    </div>
                    <!-- /.box-body -->

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>