<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <title>Clientes</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Lista de Clientes</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Lista de Clientes</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <a class="box-title btn btn-primary" th:href="@{/cliente/form}">Adicionar Cliente</a>


                    <div class="box-tools">
                        <form th:action="@{/cliente/list}" method="get">
                            <div class="input-group input-group-sm" style="width: 250px;">
                                <input type="text" name="value" class="form-control pull-right"
                                       placeholder="Pesquisa por Nome" th:if="${key} == null"/>
                                <input type="text" name="value" class="form-control pull-right"
                                       placeholder="Pesquisa por Nome" th:if="${key} != null"
                                       th:value="${key}"/>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <!-- /.box-header -->
                <div class="box-body">
                    Show <span sd:page-size-selector="javascript"></span> entries

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th> No</th>
                                <th><a class="fa fa-fw fa-sort"></a><a class="sorted" sd:pagination-sort="nome">Nome</a></th>
                                <th><a class="fa fa-fw fa-sort"></a><a class="sorted" sd:pagination-sort="tipoPessoa">Tipo Pessoa</a></th>
                                <th><a class="fa fa-fw fa-sort"></a><a>CPF</a></a></th>
                                <th><a class="fa fa-fw fa-sort"></a><a>CNPJ</a></a></th>
                                <th><a class="fa fa-fw fa-sort"></a><a>Razão Social</a>
                                <th><a class="fa fa-fw fa-sort"></a><a>Status</a></th>
                                <th><a class="fa fa-fw fa-sort"></a><a>Telefone</a></th>
                                <th><a class="fa fa-fw fa-sort"></a><a>Próximo Contato</a></th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="st,iter : ${cliente}">
                                <td th:text="${iter.count}"></td>
                                <td th:text="${st.nome}"></td>
                                <td th:text="${st.tipoPessoa}"></td>
                                <td th:text="${st.cpf}"></td>
                                <td th:text="${st.cnpj}"></td>
                                <td th:text="${st.razaoSocial}"></td>
                                <td th:text="${st.status}"></td>
                                <td th:text="${st.telefone}"></td>
                                <td th:text="${st.dataContato}"></td>
                                <td>
                                    <a href="#" class="btn btn-default" 
                                    th:href="@{/cliente/edit(id=${st.id}, tipoPessoa=${st.tipoPessoa}, status=${st.status}, sexo=${st.sexo})}"
                                       title="Editar Dados"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a href="#" class="btn btn-default" th:href="@{/cliente/delete(id=${st.id})}"
                                       title="Deletar Dados"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                            <tr th:if="${#lists.isEmpty(cliente.content)}">
                                <td colspan="13" class="text-center">Dados do cliente não encontrados</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div th:if="${not #lists.isEmpty(cliente.content)}">

                    <div sd:pagination-summary="">info</div>
                    <div class="text-center">
                        <nav>
                            <ul class="pagination" sd:pagination="full">
                                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                <li class="disabled"><a href="#" aria-label="Previous"><span
                                        aria-hidden="true">&laquo;</span></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
